
#detalleProducto {
    background-color: #d5bdaf;
    color:#76695d;
    margin: 20px;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#detalleProducto h2{
    text-align: center;
}